@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #ffe0ce;
    height: 100vh;
    height: 100%;
    font-family: 'Kulim Park';
  }
  
  nav {
    background-color: #FFECEC;
  }
  
  nav ul li a {
  color: #4a4646;
  transition: ease-in .1s;
}

nav ul li a.active {
  color: #fe965c !important;
}

nav ul li a:hover {
  color: #fe965c !important;
}
nav ul li a {
  color: #4a4646;
  transition: ease-in .1s;
}

.active {
  color: #fe965c !important;
}

nav ul li a:hover {
  color: #fe965c !important;
}

.carousel-wrapper {
  height: 100%;
}


.carousel-wrapper > div:nth-child(1){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/static/assets/carousel-1.jpg'), no-repeat;
  background-size: cover;
  height: 100%;
}

.carousel-wrapper > div:nth-child(2){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/static/assets/carousel-2.jpg'), no-repeat;
  background-size: cover;
  height: 100%;
}

.carousel-wrapper > div:nth-child(3){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/static/assets/carousel-3.jpg'), no-repeat;
  background-size: cover;
  height: 100%;
}

.carousel-wrapper > div:nth-child(4){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/static/assets/carousel-4.jpg'), no-repeat;
  background-size: cover;
  height: 100%;
}

.carousel-wrapper > div:nth-child(5){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/static/assets/carousel-5.jpg'), no-repeat;
  background-size: cover;
  height: 100%;
}

.box {
  background-color: #FFEADE;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
}

.relative {
  overflow: hidden !important;
}
img {
  border-radius: 10px !important;
}

.overlay {
  height: 0;
  width: 100%;
  /* background: linear-gradient(transparent, #D0A085 90%); */
  background-color: #D0A085;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
}

.box:hover .overlay {
  height: 100%;
}

input[type=number], input[type=text] {
  background-color: #FFEFEF;
  border: 1px solid #999999;
  border-radius: 5px;
}

.calculator-hidden {
  transform: translateY(-3%);
  opacity: 0 !important;
  transition: ease-in .2s;
}


.calculator-show {
  transform: translateY(0);
  opacity: 1 !important;
}


.btn {
    border-radius: 5px;
    background-color: #fe965c;
    width: 95px;
    height:40px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 10px;
}

.container {
  height: 100vh;
}

.member {
  width: 250px;
  height: 350px;
  width: 100%;
  border-radius: 15px;
  background-color: #999999;
}
.footer-content {
    background-color: #FFECEC;
    height: 150px;
}

@media only screen and (max-width: 400px) {
  .member {
    width: 250px;
    height: 250px;
    width: 100%;
  }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .member {
    width: 250px;
    height: 300px;
    width: 100%;
  }

}