{% extends 'core/base.html' %} 
{% block title %}
    Calculate
{% endblock title %}

{% block content %} 
    <div class="md:container mx-auto flex-1 py-10"></div>
        <section class="mb-10 h-full">
            <div class="flex flex-col">
                <div class="mb-2 mx-auto">
                    <form id="input-ordo" action="{% url 'core:calculate' %}">
                        <input type="number" placeholder="Masukkan ordo matriks" name="n" id="n-ordo">
                        <button class="btn" type="submit" id="confirm">Confirm</button>
                    </form>
                    <button class="btn" id="help">Panduan</button>
                </div>

            <form action="{% url 'core:calculate' %}?n={{ n }}" method="POST">
                {% csrf_token %}
                    <div class="box  md:w-2/4 p-3 mx-auto w-11/12" id="show-calculator">
                        <div class="flex items-center mb-2">
                            <input type="text" name="{{ i }}" class="w-full" disabled placeholder="determinant result" {% if result %}value="{{ result }}"{% endif %}>
                        </div>
                        <div class="pb-6 grid grid-cols-{{ n }} gap-4 justify-items-center" id="show-grid" >
                        {% for i in n_cells %}
                        <div class="w-full">
                            <input type="number" name="{{ i }}" class="w-full">
                        </div>
                        {% endfor %}
                </div>

                <div class="" id="hasil"></div>
                <!-- <p class="text-center ordo" id="ordo">Silahkan Masukkan Ordo Terlebih dahulu</p> -->
                <button class="btn" id="submit" type="submit">Hitung</button>
                </div>

                </form>
            </div>
        </section>  
    </div>


    <!-- script buat ajax agar formnya bisa dianimasikan tanpa meload page -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        let confirm= document.getElementById("confirm");
        let showCalculator = document.getElementById("show-calculator");
        let ordo = document.getElementById("n-ordo")
        
        // ketika tombol confirm diklik maka tampilkan kalkulator beserta ordonya
        // confirm.addEventListener("click", function(e) {
        //     e.preventDefault() 

        //     // mengecek apakah ordo yang dimasukan tidak kosong
        //     if(ordo.value !== "") {
        //         // tampilkan kalkulator beserta ordonya
        //         showCalculator.classList.remove("calculator-hidden");
        //         showCalculator.classList.add("calculator-show")
        //     };
        // })

        
        $("#input-ordo").submit(function(e) {
            e.preventDefault();

                // mengecek apakah ordo yang dimasukan tidak kosong
            if(ordo.value !== "") {
                // tampilkan kalkulator beserta ordonya
                showCalculator.classList.remove("calculator-hidden");
                showCalculator.classList.add("calculator-show")
            };

            $.ajax({
                type: "GET",
                data: {
                    n: $("#n-ordo").val()
                },
                success: function(data) {
                    
                }
            })
        })
            
    </script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        let confirm= document.getElementById("confirm");
        let showCalculator = document.getElementById("show-calculator");
        let ordo = document.getElementById("n-ordo")
        
        // ketika tombol confirm diklik maka tampilkan kalkulator beserta ordonya
        // confirm.addEventListener("click", function(e) {
        //     e.preventDefault() 

        //     // mengecek apakah ordo yang dimasukan tidak kosong
        //     if(ordo.value !== "") {
        //         // tampilkan kalkulator beserta ordonya
        //         showCalculator.classList.remove("calculator-hidden");
        //         showCalculator.classList.add("calculator-show")
        //     };
        // })
        
        
        $("#input-ordo").submit(function(e) {
            e.preventDefault();

            let formData = new FormData();
            formData.append('')

            $.ajax({
                type: "POST",
                data: {
                    n: $("#n-ordo").val()
                },
                success: function(data) {
                    $("body").html(data)
                }
            })
        })
            
    </script> -->



{% endblock content %}