{% extends 'core/base.html' %} 
{% block title %}
    Calculate
{% endblock title %}

{% block content %} 
        <section class="mt-20">
            <div class="flex flex-col">
                <div class="mb-2 mx-auto">
                    <form action="{% url 'core:calculate' %}">
                        <input type="text" placeholder="Masukkan ordo matriks" name="n">
                        <button class="btn" type="submit" id="confirm">Confirm</button>
                        <button class="btn">Panduan</button>
                    </form>
                </div>

            <form action="{% url 'core:calculate' %}?n={{ n }}" method="POST">
                {% csrf_token %}
                    <div class="box hidden md:w-2/4 p-3 mx-auto w-11/12" id="show-calculator">
                        <div class="flex items-center mb-2">
                            <input type="text" name="{{ i }}" class="w-full" disabled placeholder="determinant result" {% if result %}value="{{ result }}"{% endif %}>
                        </div>
                        <div class="pb-6 grid grid-cols-{{ n }} gap-4 justify-items-center" id="show-grid" >
                        {% for i in n_cells %}
                        <div class="w-full">
                            <input type="number" name="{{ i }}" class="w-full">
                        </div>
                        {% endfor %}
                </div>

                <div class=""></div>
                <p class="text-center ordo" id="ordo">Silahkan Masukkan Ordo Terlebih dahulu</p>
                <button class="btn" id="submit" type="submit">Hitung</button>
                </div>



                </form>
            </div>
        </section>  
    </div>

    <script>
        let confirm= document.getElementById("confirm");
        let showGrid = document.getElementById("show-grid");
        let showCalculator = document.getElementById("show-calculator");
        let ordo = document.getElementById("ordo");
        
        confirm.addEventListener("click", function(e) {
            e.preventDefault()
            // showGrid.classList.add("show");
            // ordo.classList.add("ordo-hidden") 
            showCalculator.classList.remove("hidden");     
        })
    </script>



{% endblock content %}