{% extends 'core/base.html' %} 
{% block title %}
    Calculate
{% endblock title %}

{% block content %} 
        <section class="mt-20">
            <div class="">
                <div class="mb-2">
                    <form action="{% url 'core:calculate' %}">
                        <input type="text" placeholder="Masukkan ordo matriks" name="n">
                        <button class="btn" type="submit">Confirm</button>
                        <button class="btn">Panduan</button>
                    </form>
                </div>

            <form action="{% url 'core:calculate' %}?n={{ n }}" method="POST">
                {% csrf_token %}
                    <div class="box w-full p-3">
                        <div class="flex items-center">
                            <label for="{{ i }}" class="w-24 inline-block">Determinan: </label>
                            <input type="text" name="{{ i }}" class="flex-1 mb-2" disabled placeholder="result" {% if result %}value="{{ result }}"{% endif %}>
                        </div>
                        <div class="pb-6 grid grid-cols-{{ n }} gap-1 justify-items-center">
                        {% for i in n_cells %}
                        <div>
                            <input type="number" name="{{ i }}" class="w-full">
                        </div>
                        {% endfor %}
                </div>

                <button class="btn" id="submit" type="submit">Hitung</button>
                </div>



                </form>
            </div>
        </section>  
    </div>

    <script>
        let btn = document.getElementById("submit");
    </script>



{% endblock content %}