{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<style>
  
  
  </style>
<body>
  
  
  <!-- <div class="md:mx-auto"> -->
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">calDetMat</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Calculator</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Quiz</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    
    
    
    <div id="default-carousel" class="relative w-full" data-carousel="slide" style="background-color: gray;">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="static/assets/carousel-1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div style="background-color: rgb(181, 40, 171);" class="w-full h-full flex justify-center items-center flex-col p-20">
            <h1 class="mdx:text-3xl text-xl">Determinan Matriks</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quam necessitatibus ullam quod quibusdam ipsum ratione sint ducimus deleniti inventore repudiandae doloribus commodi, beatae animi tempora voluptatem pariatur? Possimus!</p>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div style="background-color: rgb(94, 40, 219);" class="w-full h-full flex justify-center items-center flex-col p-20">
            <h1>Determinan Matriks</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quam necessitatibus ullam quod quibusdam ipsum ratione sint ducimus deleniti inventore repudiandae doloribus commodi, beatae animi tempora voluptatem pariatur? Possimus!</p>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div style="background-color: rgb(45, 209, 40);" class="w-full h-full flex justify-center items-center flex-col p-20">
            <h1>Determinan Matriks</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quam necessitatibus ullam quod quibusdam ipsum ratione sint ducimus deleniti inventore repudiandae doloribus commodi, beatae animi tempora voluptatem pariatur? Possimus!</p>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div style="background-color: rgb(25, 179, 226);" class="w-full h-full flex justify-center items-center flex-col p-20">
            <h1>Determinan Matriks</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quam necessitatibus ullam quod quibusdam ipsum ratione sint ducimus deleniti inventore repudiandae doloribus commodi, beatae animi tempora voluptatem pariatur? Possimus!</p>
          </div>
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="/docs/images/carousel/carousel-4.svg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          <div style="background-color: rgb(220, 213, 23);" class="w-full h-full flex justify-center items-center flex-col p-20">
            <h1>Determinan Matriks</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis quam necessitatibus ullam quod quibusdam ipsum ratione sint ducimus deleniti inventore repudiandae doloribus commodi, beatae animi tempora voluptatem pariatur? Possimus!</p>
          </div>
        </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  
  <div class="container mx-auto">
  <section class="flex justify-center items-center flex-col mt-5">
    <h3 class="m-3 text-3xl font-bold dark:text-white" style="font-family: 'Inter'; color: #000000;">About</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis porro reprehenderit magni sit quod, exercitationem nesciunt ipsam tenetur sed. Totam quidem perferendis perspiciatis culpa? Nam nisi dicta labore nemo dolores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla reprehenderit dolores exercitationem, nobis odit neque! In voluptatem hic eos placeat ab error debitis dolorum velit dolore voluptates, expedita tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum rerum, debitis ex, laudantium ratione dolore nam, impedit similique dolores voluptatem. Aspernatur ad praesentium aliquid saepe? Unde voluptas sapiente vero!</p>
    <button class="btn mx-auto">Calculator</button>
  </section>


  <section class="mt-20">
    <div class="flex flex-wrap">
      <div class="lg:w-9/12 p-10" style="background-color: #fe965c;">
        <h1>Kenapa Perlu Determinan Matriks</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sed rem itaque qui laborum vitae distinctio excepturi fugiat suscipit nulla quam reiciendis voluptates, id, deleniti debitis adipisci ipsa beatae numquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque vel, reprehenderit officiis, omnis temporibus doloribus corrupti mollitia architecto in placeat nihil nam aut maxime voluptate non ratione est obcaecati velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, modi distinctio! Aperiam, blanditiis? Debitis voluptatum ea aliquid, repudiandae corporis rerum architecto inventore laboriosam beatae. Repellat laudantium distinctio optio dolor ad?</p>
      </div>
      <div class="lg:w-3/12" style="background-color: #926852;"><img src="static/assets/study.jpg" alt=""></div>
    </div>
  </section>

<section class="mt-20">
  <h3 class="m-3 text-3xl font-bold dark:text-white text-center" style="font-family: 'Inter'; color: #000000;">Langkah Penyelesaian Determinan Matriks</h3>
  <div class="px-5 mx-auto flex flex-wrap justify-center">
    <div class="h-full p-4 lg:w-1/3">
      <div class="box px-8 pt-16 pb-16 relative">
        <h1 class="title-font sm:text-2xl text-xl  mb-3">Matriks 2x2</h1>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eveniet impedit doloribus illo ullam aut est delectus, obcaecati similique consequuntur eum ab sed qui minima! Quidem earum exercitationem repudiandae nemo.</p>
        <button class="btn">Coba</button>
      </div>
    </div>
    <div class="h-full p-4 lg:w-1/3">
      <div class="box px-8 pt-16 pb-16 relative">
        <h1 class="title-font sm:text-2xl text-xl mb-3">Matriks 3x3</h1>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, sequi vel obcaecati eius soluta cum voluptates qui saepe excepturi perspiciatis culpa reiciendis alias rem repudiandae harum odit laborum non molestiae!</p>
        <button class="btn">Coba</button>
      </div>
    </div>
  </div>
</section>

<!-- about us -->
<section class="mt-20">
  <h3 class="m-3 text-3xl font-bold dark:text-white text-center" style="font-family: 'Inter'; color: #000000;">About Us</h3>
  <div class="w-3/4 px-5 mx-auto flex flex-wrap justify-center">
    <div class="h-full p-4 lg:w-1/3">
      <div class="box relative">
        <!-- <img src="https://placehold.co/300x300/png" alt=""> -->
        <img src="static/assets/1.png" alt="" class="member">
      </div>
    </div>
    <div class="h-full p-4 lg:w-1/3">
      <div class="box relative">
        
        <img src="static/assets/2.jpg" alt="" class="member">
      </div>
    </div>
    <div class="h-full p-4 lg:w-1/3">
      <div class="box relative">
        <img src="static/assets/3.jpg" alt="" class="member">
      </div>
    </div>
    <div class="h-full p-4 lg:w-1/3">
      <div class="box pb-16 relative">
        <img src="https://placehold.co/300x300/png" alt="">
      </div>
    </div>
    <div class="h-full p-4 lg:w-1/3">
      <div class="box relative">
        <img src="static/assets/5.jpg" alt="" class="member">
      </div>
    </div>
    
  </div>
</section>

<!-- feedback -->
<section class="mt-20">
  <h3 class="m-3 text-3xl font-bold dark:text-white text-center" style="font-family: 'Inter'; color: #000000;">Feedback</h3>
  
<div class="w-2/3 p-7 h-full box mx-auto">
  <p>Beritahu kami tentang pengalaman anda saat menggunakan . Kritik dan saran anda akan sangat membantu kami.</p>
  <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
    <label for="comment" class="sr-only">Your comment</label>
    <textarea id="comment" rows="4" class="w-full px-0 text-sm text-gray-900 border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required ></textarea>
  </div>
  <button class="btn">Kirim</button>
</div>

</section>









</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
  <div class="footer-content flex justify-center items-center flex-col mt-36">
    <ul class="flex gap-6">
      <li>Home</li>
      <li>About Us</li>
      <li>Contact</li>
          <li>Feedback</li>
          <li>Contact</li>
        </ul>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
  </html>